:root {
    --main-accent-color: #bfb0f4; /* #fab81e #f7b4c9*/
    --main-accent-color-fade: #f7f4ff; /* #fff7e5 #fff7f9 */
}
html {
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    cursor: url('http://cur.cursors-4u.net/food/foo-6/foo515.cur'), auto;
}
a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: crosshair;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
a:hover {
    color: var(--main-accent-color);
    font-weight: bold;
    text-decoration: underline;
    cursor: crosshair;
}
body {
    font-family: 'Unica One', cursive;
    padding: 0;
    margin: 20 px;
}
.heading {
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px dashed #e7e7e7;
    padding: 20 px;
}
.heading img {
    max-width: 50%;
    height: auto;
}
.footer {
    margin: 20px;
    width: auto;
    padding: 20 px;
}
.footer p {
    text-align: center;
    font-color: #bcbcbc;
    font-size: 11px;    
    margin: 20 px;
    padding: 20 px;
}
.content {
    margin: auto;
    width: 60%;
    border: 3px dashed #e7e7e7;
    padding: 20 px;
}
.content p {
    text-align: center;
    margin: 20 px;
    padding: 20 px;
}

/* Buttons */
.button {
    background-color: white;
    border-color: var(--main-accent-color);
    border-radius: 20px;
    border-style: dashed;
    font-weight: bold;
    color: var(--main-accent-color);
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: crosshair;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
.button:hover {
    background-color: var(--main-accent-color-fade);
    color: var(--main-accent-color);
    text-decoration: none;
}

/* Nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border: 3px dashed #e7e7e7;
}
li {
    float: left;
}
div.navlinks {
    float: right;
}
.name {
    font-size: 20px;
}
.name:hover {
    color: #333;
    font-weight: bold;
}
li a, .dropbtn {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: none;
    text-decoration: none;
    font-weight: normal;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: normal;
    font-size: 12px;
}
.dropdown-content a:hover {
    color: var(--main-accent-color);
    font-weight: normal;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Scrollbar */	
::-webkit-scrollbar {
    width: 10px; /** width of total scrollbar **/
    background: #fff; /** background of scrollbar **/
    border: 1px solid #fff; /** border around whole scrollbar **/
}
::-webkit-scrollbar-thumb {
    background: var(--main-accent-color); /** color of moving part of the scrollbar **/
    border: 1.5px solid #fff; /** border around moving part of scrollbar (overlaps with border of total scrollbar) **/
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main-accent-color-fade);
    border:1px var(--main-accent-color) solid;
}

/* Selection */
::-moz-selection {
    color: white;
    background: var(--main-accent-color);
}
::selection {
    color: white; 
    background: var(--main-accent-color);
}
