:root {
    --main-accent-color: #fab81e; /* #fab81e #f7b4c9 */
    --main-accent-color-fade: #fff7e5; /* #fff7e5 #fff7f9 */
}
html {
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    cursor: url('http://cur.cursors-4u.net/food/foo-6/foo515.cur'), auto;
    background-image: url("images/greygrid.png");
    background-attachment: fixed;
    color: #2d2d2d;
}
a {
    color: #2d2d2d;
    font-weight: bold;
    text-decoration: none;
    cursor: crosshair;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
a:hover {
    color: var(--main-accent-color);
    font-weight: bold;
    text-decoration: underline;
    cursor: crosshair;
}
body {
    font-family: 'Inconsolata', monospace;
    padding: 0;
    margin: 20px;
    height: 100%;
}
/* corner picture */
.corner img {
    position: fixed;
    bottom: 0;
    left: 4px;
    width: 50px;
}

/* sticky content */
.stickycontent {
    margin: auto;
    width: 320px;
    background: white;
    box-shadow: 8px 8px lightgrey;
    -webkit-box-shadow: 8px 8px lightgrey;
    -moz-box-shadow: 8px 8px lightgrey;
    -ms-box-shadow: 8px 8px lightgrey;
    -o-box-shadow: 8px 8px lightgrey;
    position: fixed;
    top: 10%;
    left: 5%;
}
.heading {
    text-align: center;
    margin: auto;
    width: 100%;
    border: 1px solid black;
    font-size: 22px;
    background: white;
    padding: 8px 0px;
}
.bio {
    margin: auto;
    width: 100%;
    border: 1px solid black;
    background: white;
    font-size: 14px;
    text-align: center;
}
.bio p {
    text-align: center;
    padding: 0px 12px;
}
.bio img {
    max-width: 37%;
    height: auto;
}
.topbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 8px;
    color: white;
    background-color: #2d2d2d;
    z-index: 2;
}

/* NAV bar */
.nav {
    margin: auto;
    width: 100%;
    border: 1px solid black;
    padding: 20;
    background: white;
    font-size: 15px;
    text-align: center;
}
.nav p {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 12px;
    width: 100%;
}
li {
    background-color: #2d2d2d;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    font-weight: normal;
}
li a:hover {
    background-color: white;
    text-decoration: none;
    color: white;
}

/* scroll content */
.scrollcontent {
    margin: 10px 0px;
    width: 55%;
    border: 1px solid black;
    background: none;
    position: absolute;
    right: 5%;
    top: 5%;
}
.scrollcontent h1 {
    padding: 0px 10px;
    font-size: 20px;
    font-weight: normal;
}
.proj {
    box-shadow: 8px 8px lightgrey;
    -webkit-box-shadow: 8px 8px lightgrey;
    -moz-box-shadow: 8px 8px lightgrey;
    -ms-box-shadow: 8px 8px lightgrey;
    -o-box-shadow: 8px 8px lightgrey;
    margin: auto;
    width: 90%;
    border: 1px solid black;
    background: white;
}
.proj-title {
    border-bottom: 1px solid black;
    padding: 8px;
    font-size: 17px;
    color: var(--main-accent-color);
    font-weight: bold;
}
.proj-content {
    text-align: center;
    font-size: 14px;
}
.proj-content p {
    padding: 0px 10px;
}
.picgrid {
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    display: inline-block;
    
}
.picgrid img {
    max-width: 70%;
    height: auto;
}

.moreinfo {
    font-size: 12px;
    width: auto;
    text-align: right;
    color: white;
    background-color: #2d2d2d;
    padding: 7px;
    text-decoration: none;
}
.moreinfo a {
    font-size: 12px;
    color: white;
    font-weight: normal;
    text-decoration: none;
}
.moreinfo a:hover {
    color: white;
    font-weight: normal;
    text-decoration: underline;
}
/* scroll resume */
.scrollcontentres1 {
    margin: 10px 0px 45px;
    width: 32%;
    border: 1px solid black;
    background: none;
    position: absolute;
    right: 3%;
    top: 5%;
}
.scrollcontentres1 h1 {
    padding: 0px 10px;
    font-size: 20px;
    font-weight: normal;
}
.scrollcontentres2 {
    margin: 10px 0px 45px;
    width: 60%;
    border: 1px solid black;
    background: none;
    position: absolute;
    left: 3%;
    top: 5%;
}
.scrollcontentres2 h1 {
    padding: 0px 10px;
    font-size: 20px;
    font-weight: normal;
}
.proj-contentres {
    text-align: left;
    font-size: 13px;
}
.proj-contentres p {
    padding: 0px 10px;
}
.footerres {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #2d2d2d;
    background: white;
}
.footerres p {
    text-align: center;
    font-size: 11px;    
}

/* footer */
.footer {
    width: 320px;
    position: fixed;
    bottom: 0;
    left: 70px;
}
.footer p {
    text-align: center;
    font-size: 11px;    
}

/* Buttons */
.button {
    background-color: white;
    border-color: var(--main-accent-color);
    border-radius: 20px;
    border-style: dashed;
    font-weight: bold;
    color: var(--main-accent-color);
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: crosshair;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
.button:hover {
    background-color: var(--main-accent-color-fade);
    color: var(--main-accent-color);
    text-decoration: none;
}

/* Scrollbar */	
::-webkit-scrollbar {
    width: 10px;
    background: #fff;
    border: 1px solid #fff;
}
::-webkit-scrollbar-thumb {
    background: var(--main-accent-color); /* color of moving part */
    border: 1.5px solid #fff; /* overlaps with border of total scrollbar */
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main-accent-color-fade);
    border:1px var(--main-accent-color) solid;
}

/* Selection */
::-moz-selection {
    color: white;
    background: var(--main-accent-color);
}
::selection {
    color: white; 
    background: var(--main-accent-color);
}