:root {
    --main-accent-color: #ffc400; /* #fab81e #f7b4c9 */
    --main-accent-color-fade: #fff8e1; /* #fff7e5 #fff7f9 */
}
html {
  background-image: url("images/greygrid.png");
  background-attachment: fixed;
}
html, body {
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Livvic', sans-serif; /* 'Inconsolata', monospace; */

  -webkit-overflow-scrolling: touch;
  color: #2d2d2d;
  cursor: url('images/pink.png'), auto;
}
a {
  color: #000;
  text-decoration: none;
  cursor: crosshair;
  /*-o-transition:.3s;
  font-weight: bold;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s; */
}
a:hover {
  text-decoration: underline;
  cursor: crosshair;
}

a.indigoclass:hover {
  color: var(--main-accent-color);
}

.indigoclass {
  color: #3d5afe;
}

.footerclass {
  background-color: #2d2d2d;
}

h1 {
  color: #9c9c9c;
  text-align: center;
  font-weight: 500;
}

p {
  color: #2d2d2d;
  line-height: 25pt;
  font-weight: 400;
  letter-spacing: 1.2pt;
  margin: 50px 0px 50px 0px;
}

.btnclass {
  margin: 50px 0 70px 0;
}

.resume {
  text-transform: lowercase;
  font-weight: 900;
  font-size: 1.5em;
}

.bright {
  color: var(--main-accent-color);
  font-weight: 900;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background: #fff;
  border: 1px solid #fff;
}
::-webkit-scrollbar-thumb {
  background: var(--main-accent-color); /* color of moving part */
  border: 1.5px solid #fff; /* overlaps with border of total scrollbar */
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-accent-color-fade);
  border:1px var(--main-accent-color) solid;
}

/* Selection */
::-moz-selection {
  color: white;
  background: #3d5afe; /* pink #f8bbd0 */
}
::selection {
  color: white;
  background: #3d5afe; /* pink #f8bbd0 */
}
