@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #ddc8cf;
    --secondary: #ceadae;
    --tertiary: #9a7b78;
    --light-dark: #54363b;
    --dark: #3a1e22;
    --border-radius: .3rem;
}

[data-theme=celestine] {
    --primary: #a3add1;
    --secondary: #6f5e95;
    --tertiary: #45235f;
    --light-dark: #31253d;
    --dark: #2b2030;
}

[data-theme=whimsical] {
    --primary: #e6b0fe;
    --secondary: #b7a1f4;
    --tertiary: #848dec;
    --light-dark: #4e6bd3;
    --dark: #234db9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary);
    margin: 100px;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: var(--light-dark);
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 2px;
}
  
h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    color: var(--dark);
    line-height: 1.25;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}

/* main {

} */
  
p {
    font-size: 1.2rem;
}

/* BUTTONS */
.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 4px 4px var(--dark);
    transform: translate(-1px, -1px);
}
  
.btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 3px 3px var(--dark);
}

/* TOGGLE SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--tertiary);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary);
    -webkit-transition: .4s;
    transition: .4s;
}
 
input:checked + .slider {
    background-color: var(--tertiary);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--light-dark);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* HELPER CLASSES */
.strong {
    color: var(--dark);
    font-weight: bold;
}