@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #ddc8cf;
    --secondary: #ceadae;
    --tertiary: #9a7b78;
    --light-dark: #54363b;
    --dark: #3a1e22;
    --border-radius: .3rem;
}

[data-theme=whimsical] {
    --primary: #e6b0fe;
    --secondary: #b7a1f4;
    --tertiary: #848dec;
    --light-dark: #4e6bd3;
    --dark: #234db9;
}

[data-theme=beachy] {
    --primary: #f2f2f0;
    --secondary: #bde8f1;
    --tertiary: #819fa7;
    --light-dark: #5b6e74;
    --dark: #1b1b1b;
}

[data-theme=plums] {
    --primary: #f5c3de;
    --secondary: #e195c6;
    --tertiary: #9d59ac;
    --light-dark: #632b68;
    --dark: #291037;
}

[data-theme=amethyst] {
    --primary: #a3add1;
    --secondary: #6f5e95;
    --tertiary: #45235f;
    --light-dark: #31253d;
    --dark: #2b2030;
}

[data-theme=berry] {
    --primary: #B9DFEE;
    --secondary: #B4ACC8;
    --tertiary: #AF78A2;
    --light-dark: #A9457B;
    --dark: #A41155;
}

* {
    margin: 0;
    padding: 0;
    transition: .15s ease-in-out;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: var(--light-dark);
    line-height: 1.5;
    letter-spacing: 2px;
}
  
h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    color: var(--dark);
    line-height: 1.25;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}

h2 {
    padding: 10px 0;
}

a,
a:active,
a:focus {
    color: var(--tertiary);
    text-decoration: wavy underline;
    font-weight: bold;
}

a:hover {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
}
  
p {
    font-size: 1.2rem;
}

nav {
    background-color: var(--light-dark);
}

nav ul {
    padding: 15px 0;
}

nav ul li a,
nav ul li a:active,
nav ul li a:focus {
    color: var(--primary);
    text-decoration: none;
    padding: 5px 15px;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--primary);
    text-decoration: wavy underline;
    font-weight: bold;
}

section {
    padding: 25px 0;
}

footer {
    text-align: center;
    background-color: var(--light-dark);
    color: var(--primary);
    padding: 40px 0;
}

/* HERO */
.hero {
    background-color: var(--tertiary);
    text-align: center;
    padding: 5% 0;
}

.hero h1 {
    color: var(--primary);
    padding: 15px 0;
}

/* SECTIONS */
.about-me {
    margin: 0 auto;
    width: 85%;
}

.projects {
    background-color: var(--secondary);
}

.column {
    margin: 10px 0;
}

/* CARD COMPONENTS */
.card .img {
    background-color: var(--secondary);
    border-radius: var(--border-radius);
}

.card img {
    opacity: 0.65;
}

.card img:hover {
    opacity: 1.0;
}

/* BUTTONS */
.btn, .btn:active, .btn:focus {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 4px 4px var(--dark);
    transform: translate(-1px, -1px);
    font-weight: normal;
}
  
.btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 3px 3px var(--dark);
    font-weight: normal;
}

.btn-theme, .btn-theme:active, .btn-theme:focus {
    font-size: 0.8rem;
    letter-spacing: 2px;
}

/* SELECTION */
::-moz-selection {
    color: white;
    background: var(--secondary);
}
::selection {
    color: white;
    background: var(--secondary);
}

/* HELPER CLASSES */
.strong {
    color: var(--dark);
    font-weight: bold;
}